// @use "../abstracts/colors.scss" as c;

@font-face {
    font-family: scto-regular;
    src: url(../../fonts/SctoGroteskA-Regular.woff2);
}

@font-face {
    font-family: scto-medium;
    src: url(../../fonts/SctoGroteskA-Medium.woff2);
}

@font-face {
    font-family: scto-bold;
    src: url(../../fonts/SctoGroteskA-Bold.woff2);
}

$sr: scto-regular;
$sm: scto-medium;
$sb: scto-bold;

$bgLight: #f4f4f4;
$bgDark: #252422;
$bgRosa: #f9cdcd;

.News {
    .news_container {
        display: flex;
        justify-content: space-evenly;

        border-top: 1px solid #f9cdcd;
        padding: 20px 0 40px;

        .News_image {
            height: 35vh;
            padding-right: 2%;
        }

        .news_title {
            font-family: $sr;
            width: 75%;
            font-size: 2.3em;
        }

        .News_description {
            font-family: $sm;
            padding-top: 15%;
            font-size: 1rem;

            .sr {
                font-family: $sr;
                margin-left: 10px;
            }
        }

        .arrows {
            width: 3%;
            align-self: flex-start;
        }
    }
}
