// @use "../abstracts/colors.scss" as c;

@font-face {
    font-family: scto-regular;
    src: url(../../fonts/SctoGroteskA-Regular.woff2);
}

@font-face {
    font-family: scto-medium;
    src: url(../../fonts/SctoGroteskA-Medium.woff2);
}

@font-face {
    font-family: scto-bold;
    src: url(../../fonts/SctoGroteskA-Bold.woff2);
}

$sr: scto-regular;
$sm: scto-medium;
$sb: scto-bold;

$bgLight: #f4f4f4;
$bgDark: #252422;
$bgRosa: #f9cdcd;

Nav {
    background-color: $bgLight;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 8%;
    padding: 3% 5%;

    .Logo {
        width: 8%;
    }
    ul {
        /*  display: flex;
        align-items: center; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15%;
        width: 30vw;
        li {
            padding-right: 7%;
            padding-left: 7%;

            .link {
                color: $bgDark;
                font-family: $sm;
            }
            .link:focus {
                border-bottom: 3px solid black;
            }

            .link:hover {
                border-bottom: 3px solid black;
            }
        }
    }
    .Dots {
        width: 3%;
    }
}
